---
layout: item/item-page-base
---

<!-- cb: _layouts/item/video.html -->
<div class="card mb-4 text-center">
    <div class="card-body">
    
        {% if page.object_location contains 'vimeo' or page.object_location contains 'youtu' %}
        {% include item/video-embed.html %}
        {% else %}
        {% include item/video-player.html %}
        {% endif %}

        <div class="mt-2">
            
            {% include item/download-buttons.html %}
           
        </div>
        
    </div>
</div>
<!-- /cb: _layouts/item/video.html -->